<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bán tôm</title>
    <!-- Bootstrap start-->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Bootstrap end -->
    <link rel="stylesheet" href="../../index.css" />
  </head>

  <body class="bg-dark">
    <div class="bg-white col-sm-8">
      <div class="col-sm-10 offset-lg-1 p-3">
        <div class="row align-items-center">
          <div class="col-sm-4">
            <img
              src="https://image.shutterstock.com/image-photo/beautiful-water-drop-on-dandelion-260nw-789676552.jpg"
              class="img-fluid img-thumbnail"
              alt="..."
              width="200px"
            />
          </div>
          <div class="col-sm-8">
            <div class="d-flex">
              <h5 class="mr-auto"><a href="#">Tôm sú 30 con/kg</a></h5>
              <h5 class="text-danger">50.000 đồng/kg</h5>
            </div>
            <div class="">
              <p>Loại kích thước : nhỏ</p>
              <p>Thời gian dự tính thu hoạch : 08/10/2019</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
