.nav-pills {
  background: url("/picture-stfarm/logo.png") no-repeat;
}
.nav-link {
  border: 1px black;
  border-radius: unset;
  border-left: solid 1px #dddddd;
  padding-top: 30px;
  padding-bottom: 30px;
}
.banner {
  background-color: #0c5460;
  background-size: cover;
  height: 1080px;
  width: 1920px;
  margin-bottom: 0px;
}
.container {
  padding: 20px 20px 50px 50px;
}
.text-center {
  padding-bottom: 20px;
}
.bg-organe {
  color: orange;
}
.box1 {
  clear: both;
}
.box1 img {
  float: left;
}
.box1 div {
  float: right;
}
#header .nav-link {
  font-weight: bold;
}
#header .nav-link:hover {
  background: #abdde5;
}
.icon {
  margin-bottom: 20px;
}
/*ST Farm color*/
.bg-stfarm {
  background-color: #0c5460;
}
.justify-content-between {
  background-color: black;
}
/* Css DashBoard Start*/

/*Css DashBoard End*/